@use './mixins' as m;
@use './variables' as *;

// hero.scss
.hero-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  background-image: url('/src/img/gruppenbild_hoaschoaf.png');
  background-repeat: no-repeat;
  background-position: center bottom;

  @include m.respond(mobile) {
    background-size: 115vw;
    height: 70vh;
  }

  .hero-title {
    display: flex;
    user-select: none;
    width: $laptop-l;

    @include m.respond(tablet) {
      width: $tablet;
    }

    @include m.respond(mobile) {
      width: $mobile-sm;
    }

    .centered-text {
      width: 100%;
      display: flex;
      justify-content: space-between;

      text-transform: uppercase;
      font-family: $font-accent-family;
      font-size: $font-h1-support-size;

      @include m.respond(laptop) {
        font-size: $font-h1-support-size-laptop;
      }

      @include m.respond(mobile) {
        font-size: $font-h1-support-size-mobile;
      }
    }

    .bottom-text {
      width: 100%;
      text-transform: uppercase;
    }
  }
}
